   <div class="header-wrapper"> 



        <div class="me-auto pc-mob-drp">
        <ul class="list-unstyled">

            
        <li class="pc-h-item header-mobile-collapse">
        <a  class="pc-head-link head-link-secondary ms-0" id="sidebar-hide">
        <i class="ti ti-menu-2"></i>
        </a>
        </li>



        <li class="pc-h-item pc-sidebar-popup">
        <a  class="pc-head-link head-link-secondary ms-0" id="mobile-collapse">
        <i class="ti ti-menu-2"></i>
        </a>
        </li>


        </ul>
        </div>


        
        <div class="ms-auto">
         <ul class="list-unstyled">
          <li class="dropdown pc-h-item header-user-profile">
           <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="assets/images/user/avatar-2.png" alt="user-image" class="user-avtar">
           </a>

            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                <div class="dropdown-header">
                 <h4>Buenos días, <span class="small text-muted"> {{usuario_acceso}} </span></h4>
                 <div class="profile-notification-scroll position-relative" style="max-height: calc(100vh - 280px)">
                  <a (click)="logout()" class="dropdown-item">
                   <i class="ti ti-logout"></i>
                   <span>Cerrar Sesión</span>
                  </a>
                 </div>
                </div>
            </div>

          </li>
         </ul>
        </div> 
    
    
    </div> 
