
<div class="navbar-wrapper">
    <div class="m-header">
    <a href="inicio"  class="b-brand text-primary">

    <!-- <img src="assets/images/logo-dark.svg" alt class="logo logo-lg"> -->
    <img src="assets/images/QR_MONTERREY.png" alt class="logo logo-lg" style="width: 100%;padding: 20px 20px 0px">
    </a>
    </div>
    <div class="navbar-content">
    <ul class="pc-navbar">
    <li class="pc-item pc-caption">
    <label>Inicio</label>
    <i class="ti ti-dashboard"></i>
    </li>
    <li class="pc-item">
    <a href="inicio"  class="pc-link"><span class="pc-micon"><i class="ti ti-dashboard"></i></span><span class="pc-mtext">Reporte QR</span></a>
    </li>

    </ul>

    <div class="w-100 text-center">
    <div class="badge theme-version badge rounded-pill bg-light text-dark f-12"></div>
    </div>
    </div>
    </div>